<footer class="section_block footer">
    <div class="content-padding">
        <div class="footer_inner">
            <div class="footer_main">
                <div class="left">
                    <div class="logo">
                        <a href="">
                            <img src="files/sancos_logo.svg" alt="">
                        </a>
                    </div>
                    <div class="form_footer">
                        <div class="title">Подпишитесь на нашу рассылку самых актуальных новостей SANCOS:</div>
                        <div>
                            <div class="field_form">
                                <input type="email" id="main-email" placeholder="Введите адрес почты" required>
                                <button class="btn_button grey" data-remodal-target="subscribe-popup">Подписаться</button>
                            </div>
                        </div>
                    </div>
                    <div class="social_block">
                        <a href="">
                            <img src="files/vk.svg" alt="">
                        </a>
                        <a href="">
                            <img src="files/tg.svg" alt="">
                        </a>
                        <a href="">
                            <img src="files/rt.svg" alt="">
                        </a>
                        <a href="">
                            <img src="files/pin.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="line"></div>
                <div class="menu_footer menu1">
                    <div class="title">Информация</div>
                    <ul>
                        <li><a href="">О компании</a></li>
                        <li><a href="">Каталоги и брошюры</a></li>
                        <li><a href="">Где купить</a></li>
                        <li><a href="">Новости</a></li>
                        <li><a href="">Контакты</a></li>
                        <li><a href="">Гарантия и сервис</a></li>
                    </ul>
                </div>
                <div class="line"></div>
                <div class="menu_footer menu2">
                    <div class="title">Продукция</div>
                    <ul>
                        <li><a href="">Мебель для ванной комнаты</a></li>
                        <li><a href="">Зеркала</a></li>
                        <li><a href="">Зеркальные шкафы</a></li>
                        <li><a href="">Столешницы</a></li>
                        <li><a href="">Раковины</a></li>
                        <li><a href="">Смесители для ванной</a></li>
                        <li><a href="">Смесители для кухни</a></li>
                        <li><a href="">Душевые системы</a></li>
                        <li><a href="">Комплектующие для душевых систем</a></li>
                        <li><a href="">Аксессуары</a></li>
                        <li><a href="">Ванны</a></li>
                    </ul>
                </div>
                <div class="line"></div>
                <div class="contacts">
                    <div class="title">Контакты</div>
                    <div class="text">
                        <span>Связаться с нами</span>
                    </div>
                    <div class="text"><a href="tel:+74952150771">+7 (495) 215 07 71</a></div>
                    <div class="text">
                        <a href="mailto:info@sancos.su">info@sancos.su</a>
                    </div>
                    <div class="text">
                        <a href="">Политика конфиденциальности</a>
                    </div>
                    <div class="text">
                        <a href="">Пользовательское соглашение</a>
                    </div>
                </div>
            </div>
            <div class="copy">Все права защищены © SANCOS</div>
        </div>
    </div>
</footer>
</div>
</div>
<div class="remodal remodal_form" data-remodal-id="subscribe-popup" data-remodal-options="hashTracking: false">
    <button data-remodal-action="close" class="close">
        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.51953 2.52002L16.2893 16.2897" stroke="#6A645D" stroke-width="1.2" />
            <path d="M16.2891 2.52002L2.51936 16.2898" stroke="#6A645D" stroke-width="1.2" />
        </svg>
    </button>
    <h2>Подтвердите подписку и выберите интересующие рассылки</h2>
    <p class="subtitle">Мы хотим делиться с Вами только полезной информацией.</p>
    <form id="subscribe-form" action="/subscribe" method="POST">
        <div class="form-group">
            <input type="email" name="email" id="modal-email" class="email-input" required>
        </div>
        <div class="form-group topics">
            <label class="section-label">Темы, которые Вам интересны:*</label>
            <div class="checkbox-group">
                <label class="checkbox-label">
                    <input type="checkbox" name="topics[]" value="stock-report" checked>
                    <span class="checkmark"></span> Отчёт по остаткам </label>
                <label class="checkbox-label">
                    <input type="checkbox" name="topics[]" value="new-products" checked>
                    <span class="checkmark"></span>Новинки и акции </label>
            </div>
        </div>
        <div class="form-group ">
            <label class="section-label">Уточните Ваш статус, чтобы рассылки были максимально полезными:*</label>
            <div class="radio-group">
                <label class="radio-label">
                    <input type="radio" name="status" value="legal" checked>
                    <span class="radiomark"></span>Юридическое лицо </label>
                <label class="radio-label">
                    <input type="radio" name="status" value="individual">
                    <span class="radiomark"></span>Физическое лицо </label>
            </div>
        </div>
        <div class="form-group consent">
            <label class="checkbox-label police">
                <input type="checkbox" name="personal_data_consent" required checked>
                <span class="checkmark"></span>Я даю согласие на обработку персональных данных </label>
        </div>
        <button type="submit" class="btn_button submit-btn">Подписаться</button>
        <p class="legal-note">Нажимая кнопку «Подписаться» я даю своё согласие ООО «Керамика Нова Рус» (Компания) на обработку моих персональных данных. <a href="/privacy-policy" target="_blank">Читать полностью</a>
        </p>
    </form>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.js"></script>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>