
<footer class="section_block footer">
	<div class="content-padding">
		<div class="footer_inner">
			<div class="footer_main">
				<div class="left">
					<div class="logo">
						<a href="">
							<img src="files/sancos_logo.svg" alt="">
						</a>
					</div>
					<div class="form_footer">
						<div class="title">Подпишитесь на нашу рассылку самых актуальных новостей SANCOS:</div>
						<form action="">
							<div class="field_form">
								<input type="text" placeholder="Введите адрес почты">
								<button class="btn_button grey">Подписаться</button>
							</div>
						</form>
					</div>
					<div class="social_block">
						<a href="">
							<img src="files/vk.svg" alt="">
						</a>
						<a href="">
							<img src="files/tg.svg" alt="">
						</a>
						<a href="">
							<img src="files/rt.svg" alt="">
						</a>
						<a href="">
							<img src="files/pin.svg" alt="">
						</a>
					</div>
				</div>
				<div class="line"></div>
				<div class="menu_footer menu1">
					<div class="title">Информация</div>
					<ul>
						<li><a href="">О компании</a></li>
						<li><a href="">Каталоги и брошюры</a></li>
						<li><a href="">Где купить</a></li>
						<li><a href="">Новости</a></li>
						<li><a href="">Контакты</a></li>
						<li><a href="">Гарантия и сервис</a></li>
					</ul>
				</div>
				<div class="line"></div>
				<div class="menu_footer menu2">
					<div class="title">Продукция</div>
					<ul>
						<li><a href="">Мебель для ванной комнаты</a></li>
						<li><a href="">Зеркала</a></li>
						<li><a href="">Зеркальные шкафы</a></li>
						<li><a href="">Столешницы</a></li>
						<li><a href="">Раковины</a></li>
						<li><a href="">Смесители для ванной</a></li>
						<li><a href="">Смесители для кухни</a></li>
						<li><a href="">Душевые системы</a></li>
						<li><a href="">Комплектующие для душевых систем</a></li>
						<li><a href="">Аксессуары</a></li>
						<li><a href="">Ванны</a></li>
					</ul>
				</div>
				<div class="line"></div>
				<div class="contacts">
					<div class="title">Контакты</div>
					<div class="text">
						<span>Связаться с нами</span>
					</div>
					<div class="text"><a href="tel:+74952150771">+7 (495) 215 07 71</a></div>
					<div class="text">
						<a href="mailto:info@sancos.su">info@sancos.su</a>
					</div>
					<div class="text">
						<a href="">Политика конфиденциальности</a>
					</div>
					<div class="text">
						<a href="">Пользовательское соглашение</a>
					</div>
				</div>
			</div>
			<div class="copy">Все права защищены © SANCOS</div>
		</div>
	</div>
</footer>

</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal.min.js" integrity="sha512-a/KwXZUMuN0N2aqT/nuvYp6mg1zKg8OfvovbIlh4ByLw+BJ4sDrJwQM/iSOd567gx+yS0pQixA4EnxBlHgrL6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="js/swiper-bundle.min.js"></script>
<script src="js/main.js"></script>
</body>

</html>