<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тайтл</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remodal/1.1.1/remodal-default-theme.css" integrity="sha512-nF9G9AnUEVv+zx285OqwGE8c1gmkys3qV6iuDK5rVG/UuZLWRgGBy/tN5WzSXXuZDZ1YvwhJ9+a/DTj71L8Lrw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="css/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="site_wrapper">
        <div class="burger_menu">
            <div class="content-padding">
                <div class="burger_top">
                    <div class="close"></div>
                    <div class="logo">
                        <a href="">
                            <img src="files/b_logo.svg" alt="">
                        </a>
                    </div>
                    <a href="" class="login_btn"></a>
                </div>
                <form action="" class="search_form">
                    <input type="text">
                    <button class="btn">Найти</button>
                </form>
                <div class="menu_block">
                    <div class="left_menu">
                        <ul class="menu_list">
                            <li>
                                <span>Продукция</span>
                                <ul>
                                    <li><a href="">По коллекциям</a></li>
                                    <li><a href="">По категориям</a></li>
                                    <li><a href="">Где купить</a></li>
                                    <li><a href="">Каталоги и брошюры</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">
                                    <span>О компании</span>
                                    <span class="arrow"></span>
                                </a>
                                <ul>
                                    <li><a href="">Новости</a></li>
                                    <li><a href="">Контакты</a></li>
                                    <li><a href="">Сервис</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="contacts">
                        <div class="link">
                            <a href="">Связаться с нами</a>
                        </div>
                        <div class="phone">
                            <a href="tel:+7 (495) 215 07 71">+7 (495) 215 07 71</a>
                        </div>
                        <div class="email">
                            <a href="mailto:info@sancos.su">info@sancos.su</a>
                        </div>
                    </div>
                    <div class="right_menu">
                        <div class="col">
                            <ul class="menu_list">
                                <li>
                                    <a href="">
                                        <span>Мебель для ванной комнаты</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul>
                                        <li><a href=""><span>Тумбы под раковину </span><span class="count">110</span></a></li>
                                        <li><a href=""><span>Тумбы под столешницу </span><span class="count">88</span></a></li>
                                        <li><a href=""><span>Пеналы подвесные </span><span class="count">231</span></a></li>
                                        <li><a href=""><span>Пеналы напольные </span><span class="count">100</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">
                                        <span>Смесители для ванной</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul>
                                        <li><a href=""><span>Смесители для раковины </span><span class="count">30</span></a></li>
                                        <li><a href=""><span>Смесители для биде </span><span class="count">58</span></a></li>
                                        <li><a href=""><span>Гигиенические души </span><span class="count">112</span></a></li>
                                        <li><a href=""><span>Смесители для ванны </span><span class="count">75</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">
                                        <span>Смесители для кухни</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul>
                                        <li><a href=""><span>С гибким изливом </span><span class="count">34</span></a></li>
                                        <li><a href=""><span>С поворотным изливом </span><span class="count">25</span></a></li>
                                        <li><a href=""><span>С подключением фильтра для воды </span><span class="count">44</span></a></li>
                                        <li><a href=""><span>Дозаторы для мойки </span><span class="count">121</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul class="menu_list">
                                <li>
                                    <a href="">
                                        <span>Зеркала и зеркальные шкафы</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul>
                                        <li><a href=""><span>Зеркала </span><span class="count">42</span></a></li>
                                        <li><a href=""><span>Зеркальные шкафы </span><span class="count">14</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">
                                        <span>Душевые системы</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul>
                                        <li><a href=""><span>Душевые комплекты</span><span class="count">33</span></a></li>
                                        <li><a href=""><span>Душевые стойки </span><span class="count">23</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">
                                        <span>Комплектующие для душевых систем</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul>
                                        <li><a href=""><span>Шланги</span><span class="count">71</span></a></li>
                                        <li><a href=""><span>Лейки </span><span class="count">12</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="">
                                        <span>Ванны</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul>
                                        <li><a href=""><span>Пристенные </span><span class="count">14</span></a></li>
                                        <li><a href=""><span>Угловые </span><span class="count">10</span></a></li>
                                        <li><a href=""><span>Отдельностоящие </span><span class="count">7</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul class="menu_list">
                                <li>
                                    <a href="">
                                        <span>Аксессуары</span>
                                        <span class="arrow"></span>
                                    </a>
                                    <ul>
                                        <li><a href=""><span>Держатели зубных щёток </span><span class="count">29</span></a></li>
                                        <li><a href=""><span>Держатели туалетной бумаги </span><span class="count">6</span></a></li>
                                        <li><a href=""><span>Дозаторы </span><span class="count">13</span></a></li>
                                        <li><a href=""><span>Ёршики для унитаза </span><span class="count">4</span></a></li>
                                        <li><a href=""><span>Крючки </span><span class="count">22</span></a></li>
                                        <li><a href=""><span>Мыльницы </span><span class="count">18</span></a></li>
                                        <li><a href=""><span>Полки для полотенец </span><span class="count">6</span></a></li>
                                        <li><a href=""><span>Полотенцедержатели </span><span class="count">26</span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>                          
            </div>
        </div>
        <header class="header">
            <div class="content-padding">
                <div class="burger"></div>
                <div class="logo">
                    <a href="">
                        <img src="files/logo.svg" alt="">
                    </a>
                </div>
                <div class="right">
                    <button class="search_btn"></button>
                    <a href="" class="login_btn"></a>
                </div>
            </div>
            <div class="search_form_block">
                <div class="content-padding">
                    <form action="">
                        <input type="text">
                        <button class="btn">Найти</button>
                    </form>
                </div>
            </div>
        </header>
        <div class="content_block_wr">